* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
:root {
    --font--family:"Istok Web", sans-serif;
    --color--navy--text: #233C98;
    --color--white:#F5F5F5;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.img--logo {
    width: 42px;
    height: 42px;
}

.text--logo {
    font-family: var(--font--family);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:var(--color--navy--text);
}

.navbar--links {
    display: flex;
    gap: 40px;
}

.navbar--link {
    text-decoration: none;
    font-size: 25px;
    font-weight: regular;
    color: var(--color--navy--text);
}

.navbar--btn{
    display: flex;
    gap: 20px;
}

.btn--src{
    width:46px;
    height: 46px;
    border-radius: 46px;
    background-color:var(--color--white) ;

}