* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
:root {
    --font--family:"Istok Web", sans-serif;
    --color--text: #233C98;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.img--logo {
    width: 42px;
    height: 42px;
}

.text--logo {
    font-family: var(--font--family);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:var(--color--text);
}

.navbar--link {
    text-decoration: none;
    font-size: 25px;
    font-weight: regular;
    color: var(--color--text);
}